services:
  db:
    image: postgres:16-alpine
    container_name: ecommerce_pg
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: ecommerce
    ports:
      - "5432:5432"
    volumes:
      - ecommerce_pgdata:/var/lib/postgresql/data

volumes:
  ecommerce_pgdata:
